# This needs https://github.com/nix-community/nix-direnv
# $ nix-env -f '<nixpkgs>' -iA nix-direnv
# Then add nix-direnv to $HOME/.direnvrc:
# source $HOME/.nix-profile/share/nix-direnv/direnvrc
use flake
dotenv
