[submodule "vendor/beorn-mdtest"]
	path = vendor/beorn-mdtest
	url = git@github.com:beorn/mdtest.git
[submodule "vendor/beorn-inkx"]
	path = vendor/beorn-inkx
	url = git@github.com:beorn/inkx.git
[submodule "vendor/beorn-chalkx"]
	path = vendor/beorn-chalkx
	url = git@github.com:beorn/chalkx.git
[submodule "vendor/beorn-flexx"]
	path = vendor/beorn-flexx
	url = git@github.com:beorn/flexx.git
[submodule "vendor/beorn-tui-measure"]
	path = vendor/beorn-tui-measure
	url = git@github.com:beorn/tui-measure.git
[submodule "vendor/beorn-inkx-ui"]
	path = vendor/beorn-inkx-ui
	url = git@github.com:beorn/inkx-ui.git
[submodule "vendor/beorn-logger"]
	path = vendor/beorn-logger
	url = git@github.com:beorn/logger.git
[submodule "vendor/beorn-claude-tools"]
	path = vendor/beorn-claude-tools
	url = git@github.com:beorn/claude-tools.git
